<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.khulnasoft.privileges.daemon.xpc</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>com.khulnasoft.privileges.daemon</string>
	<key>Program</key>
	<string>/Applications/Privileges.app/Contents/MacOS/PrivilegesDaemon</string>
	<key>AssociatedBundleIdentifiers</key>
	<string>com.khulnasoft.privileges</string>
	<key>SpawnConstraint</key>
	<dict>
		<key>team-identifier</key>
		<string>7R5ZEU67FQ</string>
		<key>signing-identifier</key>
		<string>com.khulnasoft.privileges.daemon</string>
	</dict>
</dict>
</plist>
